version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
  ignore:
    - dependency-name: "@types/node"
    - dependency-name: "*"
      update-types: ["version-update:semver-patch", "version-update:semver-minor"]
  open-pull-requests-limit: 3
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
